/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
}
::selection{
    background:rgb(20, 44, 72);
    color:lemonchiffon;
}

/* Navigation */


nav ul {
    list-style: none;
    display: flex;
    justify-content: right;
    margin:10px;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #142c48;
    text-decoration: none;
    font-weight: bold;
}
.logo {
    width: 50px; /* Ajuste la taille selon tes préférences */
    height: 50px; /* Assure-toi que la hauteur soit la même que la largeur */
    border-radius: 50%; /* Crée un effet de cercle */
    object-fit: cover; /* Ajuste l'image pour qu'elle remplisse le cercle */
}



/* Sections */
section {
    padding: 40px;
    text-align: center;
    border-radius: 8px;
    min-height: 100vh; /* Prend toute la hauteur de l'écran */
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#about {
    background: url('photos/background1.jfif') no-repeat center center ; /* Chemin vers votre image */
    background-size: cover; /* Couvrir tout l'espace disponible */
    background-position: center; /* Centrer l'image */
    color: #acc9ea; /* Couleur du texte */
    text-align: center; /* Centrer le texte */
    display: flex;
    align-items: center;
    justify-content: center;

}

#about h1 {
    font-family: 'Dancing Script', cursive; /* Appliquer la police cursive */
    font-size: 7rem; /* Taille du texte pour le titre principal */
    font-weight: bold; /* Rendre le texte en gras */
    margin-bottom: 20px; /* Espacement sous le titre principal */
    font-optical-sizing: auto;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Ombre portée pour le titre principal */
}


#about p {
    font-size: 1.2em; /* Taille du texte pour le paragraphe */
    max-width: 600px; /* Largeur maximum du paragraphe */
    margin: 0 auto; /* Centrer le paragraphe */
    line-height: 1.5; /* Espacement entre les lignes */
    text-shadow: 1px 1px 3px rgba(115,63, 43, 0.5); /* Ombre portée pour le paragraphe */ 
    color: rgb(177, 203, 236);
}


#formation {
    padding: 80px 20px; /* Espacement autour du contenu */
    text-align: center; /* Centrer le texte */
  
}

#formation h2 {
    font-size: 2.5em; /* Taille du titre de la section */
    margin-bottom: 30px; /* Espacement sous le titre */
    color: #333; /* Couleur du texte sombre */
}

.diplomas {
    display: flex; /* Affichage en flex pour aligner les cartes */
    justify-content: center; /* Centrer les cartes horizontalement */
    flex-wrap: wrap; /* Permettre le passage à la ligne des cartes */
    gap: 40px; /* Espacement entre les cartes */
   
}

.diploma {
    background: #d6e2ef; /* Couleur de fond blanche */
    border-radius: 10px; /* Coins arrondis */
    padding: 40px; /* Espacement interne */
    max-width: 300px; /* Largeur maximum pour chaque carte */
}

.diploma:hover {
    transform: translateY(-10px); /* Légère élévation au survol */
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3); /* Ombre plus forte au survol */
}

.diploma i {
    font-size: 3em; /* Taille de l'icône */
    color: #1c3f66; /* Couleur de l'icône */
    margin-bottom: 10px; /* Espacement sous l'icône */
}

.diploma h3 {
    font-size: 1.5em; /* Taille du titre du diplôme */
    margin-bottom: 10px; /* Espacement sous le titre */
    color: #333; /* Couleur du titre */
}

.diploma p {
    font-size: 1em; /* Taille du texte pour le paragraphe */
    color: #111010; /* Couleur du texte */
    line-height: 1.5; /* Espacement entre les lignes */
    text-align: left; /* Aligner le texte à gauche */
}


#competance {
    padding: 50px 20px; /* Espacement autour du contenu */
    text-align: center; /* Centrer le texte */
}

#competance h2 {
    font-size: 2.5em; /* Taille du titre de la section */
    margin-bottom: 30px; /* Espacement sous le titre */
    color: #333; /* Couleur du texte sombre */
}
.skills-container {
    display: flex; /* Utiliser flexbox pour l'alignement */
    flex-wrap: wrap; /* Permet aux éléments de se répartir sur plusieurs lignes */
    justify-content: center; /* Centrer les éléments horizontalement */
}

.skill {
    width: 180px; /* Augmenter la largeur pour chaque compétence */
    height: 140px; /* Augmenter la hauteur pour chaque compétence */
    display: flex; /* Utiliser flexbox pour centrer le contenu */
    flex-direction: column; /* Orienter le contenu en colonne */
    align-items: center; /* Centrer horizontalement */
    justify-content: center; /* Centrer verticalement */
    margin: 10px; /* Espacement autour de chaque compétence */
    border: 1px solid #ccc; /* Optionnel : bordure pour délimiter les compétences */
    border-radius: 8px; /* Optionnel : arrondir les coins */
    background: #d6e2ef; /* Couleur de fond blanche */
}

.skill:hover {
    transform: translateY(-10px); /* Légère élévation au survol */
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3); /* Ombre plus forte au survol */
}
.skill i {
    font-size: 2.5em; /* Augmenter la taille des icônes */
    color:#1c3f66; /* Changez cette couleur selon vos préférences */

}
#projects h2{
    font-size: 2.5em; /* Taille du titre de la section */
    margin-bottom: 30px; /* Espacement sous le titre */
    color: #333; /* Couleur du texte sombre */

}

.projects-container {
    display: flex; /* Utilise Flexbox pour la mise en page */
    flex-wrap: wrap; /* Permet aux projets de se déplacer à la ligne */
    justify-content: space-between; /* Espace entre les projets */
    max-width: 1200px; /* Limite la largeur maximale du conteneur */
    margin: 0 auto; /* Centre le conteneur horizontalement */
    padding: 0 20px; /* Ajoute un peu d'espacement latéral */
}

.project {
    flex: 0 1 calc(40% - 20px); /* Chaque projet prendra environ 50% de la largeur moins un espace */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombre pour donner du relief */
    border-radius: 8px; /* Coins arrondis */
    padding: 20px; /* Espacement interne */
    margin-bottom: 20px; /* Espacement en bas */
    background: #d6e2ef; /* Couleur de fond blanche */

}

.project-logo {
    font-size: 2em; /* Taille de l'icône */
      color:#1c3f66; /* Couleur de l'icône */
    margin-bottom: 10px; /* Espacement entre l'icône et le texte */

}
.project:hover {
    transform: translateY(-10px); /* Légère élévation au survol */
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3); /* Ombre plus forte au survol */
}
#contact {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    margin: 0 auto;
  }
  
  #contact h2 {
    font-size: 2.5em; /* Taille du titre de la section */
    margin-bottom: 30px; /* Espacement sous le titre */
    color: #333; /* Couleur du texte sombre */

}
  
  .icons {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  
  .icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px; /* Taille du cercle */
    height:60px; /* Taille du cercle */
    border-radius: 50%;
    border: 3px solid ; /* Bordure initiale */
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: 2.5em; /* Taille de l'icône */
  }
  
  .icon-box.email {
    border-color: red;
    color: RED;
  }
  
  .icon-box.linkedin {
    border-color: blue;
    color: blue;
  }
  
  .icon-box.github {
    border-color: black;
    color: black;
  }
  
  
  
  .icon-box:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  #copy {
    text-align: center;
    margin-top: auto;
    padding: 10px;
    color:#1c3f66;
    width: 100%;
}