/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f0f0f0;
    color: #333;
}

/* Navigation */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Sections */
section {
    padding: 40px;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    min-height: 100vh; /* Prend toute la hauteur de l'écran */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section#home {
    background-color: #e8f4f8;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}
